
.category {
  display: grid;
  justify-items: center;
  gap: 30px;
  padding: 30px;
  border: 1px solid var(--color-light-grey);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.02);
    }
    p {
      opacity: 0.5;
    }
  }

  p {
    font-size: 17px;
    font-weight: 500;
    transition: opacity .3s ease;
  }
}

.image_wrapper {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    transition: transform .3s ease;
  }
}