
.loader {
  position: relative;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1ch 3ch;

  text-align: center;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5ch;
  color: var(--color-main);
  letter-spacing: 0.2em;
}
.loader::before,
.loader::after {
  content: "";
  display: block;
  width: 2%;
  height: 10%;
  background: var(--color-main);
  position: absolute;
  animation: load 0.9s infinite alternate ease-in-out;
  border-radius: 4px;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 50%;
    width: 2%;
  }
  50% {
    height: 8%;
    width: 10%;
  }
  100% {
    left: 98%;
    height: 50%;
    width: 2%;
  }
}

.loader_wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}
