
.footer {
  align-self: end;
  height: max-content;

  @media (max-width: 900px) {
    margin-bottom: 64px;
  }
}

.top {
  border-top: 1px solid var(--color-light-grey);
  padding: 20px 0;
  
  & > div {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: grid;
    align-content: center;

    li a {
      display: block;
      padding: 10px 20px 10px 0;
      font-size: 1em;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;

  & > div {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: end;
    gap: 4px;
    
    & > div {
      grid-column: 1/3;
    }

    svg {
      grid-row: 3/4;
    }
  }
  
  p {
    text-align: end;
    font-weight: 600;

    span {
      display: block;
      font-weight: 400;
    }
  }

}

.bottom {
  border-top: 1px solid var(--color-light-grey);

  & > div {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    a {
      font-size: 0.875em;
      text-decoration: underline;
    }

    span {
      color: var(--color-grey);
      font-size: 0.875em;
    }
  }
}
