
.items_wrapper {
  position: relative;
}

.slide {
  height: auto!important;
  display: grid!important;
}

.navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-top: 10px;
  transform: translate(0, 100%);
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    transition: border .3s ease;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid var(--color-text);
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
