
.page_body {
  padding: 40px 0 60px 0;
  display: grid;
  align-content: start;
  gap: 40px;

  @media (max-width: 900px) {
    padding: 10px 0 40px 0;
    gap: 10px;
  }
}

.top {
  height: max-content;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 10px 20px;

  ul {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      position: relative;

      &:not(:last-child) {
        padding-right: 20px;

        &::before {
          content: '-';
          position: absolute;
          right: 0;
          color: var(--color-grey);
        }
      }
    }
  }

  a {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 400;
    transition: all .3s ease;

    &:hover {
      color: var(--color-text);
    }
  }

  b {
    font-size: 14px;
    font-weight: 500;
  }
}

.table {

  ul {
    grid-template-columns: 2fr repeat(3, 1fr) 7.5em;

    @media (max-width: 768px) {
      grid-template-columns: 2fr repeat(3, 8em) 7.5em;
    }
  }

  li {

    &[data-available='available'] {
      color: var(--color-green);
    }
    &[data-available='unavailable'] {
      color: var(--color-orange);
    }

    &.product {
      display: grid;
      grid-template-columns: auto 1fr;
      align-content: center;
      gap: 10px;

      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
      }

      .image_wrapper {
        grid-row: 1/5;
        width: 6.25em;
        height: 6.25em;

        @media (max-width: 1000px) {
          grid-row: auto; 
        }
      }
      img {
        width: auto;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      a {
        grid-row: 2/3;
        font-size: 1em;
        font-weight: 500;
      }

      span {
        grid-row: 3/4;
        color: var(--color-green);
        font-size: 0.875em;

        &[data-available='unavailable'] {
          color: var(--color-red-light);
        }
      }

    }

    &.count {
      & > div {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid var(--color-light-grey);
        border-radius: 8px;

        @media (max-width: 768px) {
          width: 100%;
          justify-items: center;
          padding: 4px;
        }

        input {
          font-size: 1.125em;
          text-align: center;
          width: 2.222em;
        }

        button {
          width: 2.222em;
          height: 2.222em;
          font-size: 1.125em;
          transition: border .3s ease;
          border: 2px solid transparent;
          border-radius: 8px;

          @media (max-width: 768px) {
            width: max-content;
            height: 100%; 
          }

          &:hover {
            border: 2px solid var(--color-light-grey);
          }
        }
      }
    }

    &.total_count {
      @media (max-width: 768px) {
        grid-column: 1/2;

        & > div {
          grid-template-columns: auto 1fr auto;
        }
      }

      button, input {
        pointer-events: none;
      }
    }

    &.total_amount {
      @media (max-width: 768px) {
        grid-column: 2/3;
      }
    }

    &.empty {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &.total_btns {
      @media (max-width: 768px) {
        grid-column: 3/5; 
      }
    }

    &.btns {
      display: flex;
      justify-content: end;
      gap: 6px;
  
      .delete_button {
        width: 40px;
        height: 40px;
        transition: border .3s ease;
        border: 1px solid transparent;
        border-radius: 6px;

        &:hover {
          border: 1px solid var(--color-grey);
        }

        svg {
          width: 1.375em;
          height: 1.375em;
        }
      }

      .order_button {
        padding: 12px 30px;
        margin-right: 10px;
        font-size: 1em;
        font-weight: 600;
      }
    }
  }

}