
.page_body {
  padding: 40px 0 60px 0;
  display: grid;
  align-content: start;
  gap: 40px;
}

.top {
  height: max-content;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 10px 20px;

  ul {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      position: relative;

      &:not(:last-child) {
        padding-right: 20px;

        &::before {
          content: '-';
          position: absolute;
          right: 0;
          color: var(--color-grey);
        }
      }
    }
  }

  a {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 400;
    transition: all .3s ease;

    &:hover {
      color: var(--color-text);
    }
  }

  b {
    font-size: 14px;
    font-weight: 500;
  }
}

.table {

  ul {
    grid-template-columns: 2fr repeat(3, 1fr) 120px;
  }

  li {

    &[data-available='available'] {
      color: var(--color-green);
    }
    &[data-available='unavailable'] {
      color: var(--color-orange);
    }

    &.product {
      display: grid;
      grid-template-columns: auto 1fr;
      align-content: center;
      gap: 10px;

      .image_wrapper {
        grid-row: 1/5;
        width: 100px;
        height: 100px;
      }
      img {
        width: auto;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      a {
        grid-row: 2/3;
        font-size: 16px;
        font-weight: 500;
      }

      span {
        grid-row: 3/4;
        color: var(--color-green);
        font-size: 14px;

        &[data-available='unavailable'] {
          color: var(--color-red-light);
        }
      }

    }

    &.count {
      & > div {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid var(--color-light-grey);
        border-radius: 8px;

        input {
          text-align: center;
          width: 40px;
          font-size: 18px;
        }

        button {
          width: 40px;
          height: 40px;
          font-size: 18px;
          transition: border .3s ease;
          border: 2px solid transparent;
          border-radius: 8px;

          &:hover {
            border: 2px solid var(--color-light-grey);
          }
        }
      }
    }

    &.total_count {
      button, input {
        pointer-events: none;
      }
    }

    &.btns {
      display: flex;
      justify-content: end;
      gap: 6px;
  
      .delete_button {
        width: 40px;
        height: 40px;
        transition: border .3s ease;
        border: 1px solid transparent;
        border-radius: 6px;

        &:hover {
          border: 1px solid var(--color-grey);
        }

        svg {
          width: 22px;
          height: 22px;
        }
      }

      .order_button {
        padding: 12px 30px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

}