
.alert {
  min-width: 300px;
	display: grid;
  justify-items: center;
  gap: 16px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-150%);
	background-color: var(--color-bg);
	border: 1px solid var(--color-light-grey);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	border-radius: 16px;
	padding: 24px 16px 10px 16px;

	z-index: 300;

  p {
    color: var(--color-text);
    font-size: 16px;
  }

  button {
    margin-top: 16px;
    padding: 6px 16px;
    background-color: var(--color-light-grey);
    border-radius: 8px;
  }

	&:global(._show) {
		animation: showAlert 0.5s ease forwards;
	}

	&:global(._hide) {
		animation: hideAlert 0.5s ease forwards;
	}

	@keyframes showAlert {
		0% {
			transform: translateX(-50%) translateY(-150%);
		}
		20% {
			transform: translateX(-50%) translateY(10%);
		}
		60% {
			transform: translateX(-50%) translateY(-10%);
		}
		100% {
			transform: translateX(-50%) translateY(20px);
		}
	}

	@keyframes hideAlert {
		0% {
			transform: translateX(-50%) translateY(10%);
		}
		20% {
			transform: translateX(-50%) translateY(-10%);
		}
		60% {
			transform: translateX(-50%) translateY(10%);
		}
		100% {
			transform: translateX(-50%) translateY(-150%);
		}
	}
}