
.page_body {
  padding: 40px 0 60px 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 320px 1fr;
  align-content: start;
  align-items: start;
  gap: 30px;

  @media (max-width: 1200px) {
    grid-template-columns: 260px 1fr;
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px 0 40px 0;
  }
}
