
.dialog {
  // max-height: 100vh;
  // height: 100%;
  // min-height: max-content;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  margin: auto;
  background-color: transparent;
  border: none;
  transition: opacity .3s allow-discrete, display .3s allow-discrete, overlay 1s allow-discrete;
  opacity: 0;
  background-color: var(--color-white);
  padding: 20px 24px 10px 24px;
  border-radius: 16px;

  &[data-scroll='true'] {
    padding: 20px 10px 10px 24px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-light-grey);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-grey);
    border-radius: 4px;
  }

  &:not([open]) {
    pointer-events: none;
  }

  &[open] {
    opacity: 1;

    &::backdrop {
      opacity: 1;
    }
  }

  &::backdrop {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    transition: opacity .3s allow-discrete;
    opacity: 0;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 20px;

    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      background-color: var(--color-text);
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  & > p {
    font-weight: 500;
  }

  & > *:not(.close):not(& > button):not(& > p) {
    overflow-y: auto;
    
    &[data-scroll='true'] {
      padding-right: 14px;
    }
  }

}
