
.top {
  display: flex;
  align-items: center;
  gap: 10px;
  height: max-content;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 10px 20px;

  b {
    color: var(--color-grey);
    font-size: 1em;
    font-weight: 500;
  }
}

.list {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 900px) {
    gap: 10px;  
  }
}

.pagination {
  grid-column: 1/3;
}

.loader_wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}