
.top {
  height: max-content;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 10px 20px;

  b {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 500;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pagination {
  grid-column: 1/3;
}