
.orders_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  & > div {
    position: relative;
    background-color: #F7F7F8;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 10px 20px;
  }
}

.delete_button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--color-red-light);
  padding: 6px;
  border-radius: 8px;

  svg {
    width: 16px;
    height: 16px;
  }
}
.delete_modal {
  min-width: 250px;
  min-height: auto;

  form {
    padding: 20px 4px 10px 4px;
    display: flex;
    align-items: center;
  }

  button {
    &[type='submit'] {
      width: 100%;
    }
  }
}
