
.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: max-content;
  width: max-content;
  padding: min(0.8em, 10px);
  background-color: var(--color-green);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-white);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.14);
  
  color: var(--color-white);
  font-size: min(1.2em, 16px);
  text-align: center;
  user-select: none;

  transition: all .4s ease 0s;

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--color-light-grey);
    color: var(--color-grey);
  }
}