
.list {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 30px;

  & > div:first-child {
    grid-column: 1/3;
  }
}

.table {

  ul {
    grid-template-columns: repeat(2, 1fr) 160px 180px;
  }

  li {

    &[data-available='available'] {
      color: var(--color-green);
    }
    &[data-available='unavailable'] {
      color: var(--color-orange);
    }

    &.image {
      img {
        max-width: 100%;
        max-height: 100px;
        height: auto;
        border-radius: 4px;
        margin: 0 auto;
      }
    }

    &.url {
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }
      &::-webkit-scrollbar-track {
          background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border-radius: 4px;
      }
    }

    &.btns {
      display: flex;
      gap: 6px;
  
      & > button {
        width: 100%;
        padding: 10px 16px;
  
        &:last-of-type {
          width: max-content;
          padding: 10px;
        }
  
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

}

.item_modal {
  form {
    max-width: 500px;
    padding: 20px 4px 10px 4px;
  }
}

.edit_button {
  background-color: var(--color-orange);
}

.delete_button {
  background-color: var(--color-red-light);
}
.delete_modal {
  min-width: 250px;
  min-height: auto;
  
  form {
    padding: 20px 4px 10px 4px;
    display: flex;
    align-items: center;
  }

  button {
    &[type='submit'] {
      width: 100%;
    }
  }
}

.toggle_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}