
.news {
  display: grid;
  gap: 30px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: end;
  align-items: center;

  @media (max-width: 600px) {
    grid-template-columns: 1fr auto;
    justify-items: baseline;
  }

  h2 {
    grid-column: 2/3;
    font-size: 1.375em;
    font-weight: 400;

    @media (max-width: 600px) {
      grid-column: auto;
    }
  }
}

.news_conatiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (min-width: 1100px) {
    & >:nth-of-type(4) {
      display: none;
    } 
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr)
  }
}
