
.news_card {
  height: 22.5em;
  display: grid;
  padding-bottom: 3.125em;
}

.image_wrapper {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform .3s ease;
  }
}

.info {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  display: grid;
  gap: 20px;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 2.188em;
  padding: 1.875em 1.875em 1.25em 1.875em;
  transform: translate(0, 3.125em);

  button {
    justify-self: end;
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 6px;
  }
}
