
.search {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: grid;
  justify-items: end;
  transition: all .5s ease;

  @media (min-width: 900px) and (max-width: 1200px) {
    &[data-active='true'] {
      max-width: none;
      grid-column: 2/4;
      grid-row: 1/2;
    }
  }

  & > * {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  input {
    padding-right: 40px;
    transition: all .5s ease;

    @media (max-width: 900px) {
      padding-right: 30px;
    }
    @media (max-width: 480px) {
      font-size: 14px; 
    }
  }

  button {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
      svg {
        width: 20px;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--color-text);
        }
      }
    }

    svg {
      path {
        transition: all .3s ease;
      }
    }

  }
}

.searched_container {
  position: absolute;
  bottom: -10px;
  width: 100%;
	height: max-content;
  display: grid;
	padding: 10px;
	background-color: var(--color-light-grey);
  border: 1px solid var(--color-grey);
	border-radius: 8px;
  transition: all .3s ease;
  transform: translate(0, 0%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;

	color: var(--color-text);
  font-size: 16px;
  font-weight: 500;

  @media (max-width: 600px) {
    transition: transform .3s ease, opacity .1s ease;
    transform: translate(-50%, 0%);
    width: 90vw;
  }

  &[data-active='true'] {
    transform: translate(0, 100%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    @media (max-width: 900px) {
      transform: translate(0, -100%);
      bottom: auto;
      top: -10px;
    }
    @media (max-width: 600px) {
      transform: translate(-50%, -100%);
      left: 50%;
    }
  }

  a {
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    transition: all .3s ease;

    &:hover {
      background-color: #F7F7F8;
    }
  }
}
