
.search {
  width: 100%;
  max-width: 600px;
  display: grid;
  justify-items: end;
  transition: all .5s ease;

  @media (min-width: 900px) and (max-width: 1200px) {
    &[data-active='true'] {
      max-width: none;
      grid-column: 2/4;
      grid-row: 1/2;
    }
  }

  & > * {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  input {
    padding-right: 40px;
    transition: all .5s ease;

    @media (max-width: 900px) {
      padding-right: 30px;
    }
    @media (max-width: 480px) {
      font-size: 14px; 
    }
  }

  button {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
      svg {
        width: 20px;
      }
    }

    &:hover {
      svg {
        path {
          fill: var(--color-text);
        }
      }
    }

    svg {
      path {
        transition: all .3s ease;
      }
    }

  }
}