
.page_body {
  padding: 40px 0 60px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  align-items: start;
  gap: 40px;
}

.top {
  grid-column: 1/3;
  height: max-content;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 10px 20px;

  ul {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      position: relative;

      &:not(:last-child) {
        padding-right: 20px;

        &::before {
          content: '-';
          position: absolute;
          right: 0;
          color: var(--color-grey);
        }
      }
    }
  }

  a {
    color: var(--color-grey);
    font-size: 14px;
    font-weight: 400;
    transition: all .3s ease;

    &:hover {
      color: var(--color-text);
    }
  }

  b {
    font-size: 14px;
    font-weight: 500;
  }
}

.gallery { 
  display: flex;
  justify-content: start;
  gap: 20px;
}

.main_image_wrapper {
  margin: 0;

  & > div {
    max-width: 400px;
    max-height: 400px;

    .slide {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
      border: 1px solid var(--color-light-grey);
      padding: 20px;
    }
  }
}

.images_wrapper {
  margin: 0;

  & > div {
    max-height: 400px;

    .slide {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid var(--color-light-grey);
      padding: 4px;
    }
  }
}

.description_wrapper {
  display: grid;
  gap: 20px;
  padding: 20px 0;

  h1 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  .btns {
    align-self: end;
    display: grid;
    grid-template-columns: 200px auto auto;
    justify-content: start;
    align-items: center;
    gap: 30px;

    & > p {
      font-size: 18px;
      font-weight: 500;
      padding-left: 30px;
    }

    button {
      height: 45px;
      padding: 10px 30px;

      &.order_button {
        background-color: var(--color-orange);
      }

      &.in_cart_button {
        background-color: var(--color-grey);
        padding: 10px 30px 10px 24px;
      }
    }
  }
}

.specs_wrapper {
  grid-column: 1/3;
  display: grid;
  gap: 20px;
  padding: 0 20px;

  b {
    font-size: 18px;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      font-size: 16px;
    }
  }
}

.items_wrapper {
  grid-column: 1/3;
  margin-top: 60px;
}