
.page_body {
  padding: 40px 0 60px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  align-items: start;
  gap: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr auto; 
  }
  @media (max-width: 1000px) {
    grid-template-columns: 100%;
  }
  @media (max-width: 900px) {
    gap: 10px;
    padding: 10px 0 40px 0;
  }
}

.top {
  height: max-content;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 10px 20px;

  @media (min-width: 1000px) {
    grid-column: 1/3;
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    li {
      position: relative;

      &:not(:last-child) {
        padding-right: 20px;

        &::before {
          content: '-';
          position: absolute;
          right: 0;
          color: var(--color-grey);
        }
      }
    }
  }

  a {
    color: var(--color-grey);
    font-size: 1em;
    font-weight: 400;
    transition: all .3s ease;

    &:hover {
      color: var(--color-text);
    }
  }

  b {
    font-size: 1em;
    font-weight: 500;
  }
}

.gallery { 
  display: flex;
  justify-content: start;
  gap: 20px;

  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
  }
}

.main_image_wrapper {
  margin: 0;

  & > div {
    max-width: 400px;
    max-height: 400px;

    @media (max-width: 1200px) {
      max-width: 300px;
      max-height: 300px; 
    }

    .slide {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px;
      border: 1px solid var(--color-light-grey);
      padding: 20px;
    }
  }
}

.images_wrapper {
  margin: 0;

  & > div {
    max-height: 400px;

    @media (max-width: 1200px) {
      max-height: 300px;
    }

    .slide {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
      border: 1px solid var(--color-light-grey);
      padding: 4px;
    }
  }
}

.description_wrapper {
  display: grid;
  gap: 20px;
  padding: 20px 0;

  h1 {
    font-size: min(1.3em, 18px);
    font-weight: 500;
  }

  p {
    font-size: min(1.2em, 16px);
    line-height: 24px;
  }

  .btns {
    align-self: end;
    display: grid;
    grid-template-columns: 200px auto auto;
    justify-content: start;
    align-items: center;
    gap: 30px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr auto auto;
      gap: 10px;
    }
    @media (max-width: 1000px) {
      grid-template-columns: auto 1fr; 
    }

    & > p {
      font-size: min(1.3em, 18px);
      font-weight: 500;
      padding-left: 30px;

      @media (max-width: 1200px) {
        padding-left: 0; 
      }
      @media (max-width: 1000px) {
        grid-column: 1/3;
      }
    }

    button {
      height: 45px;
      padding: 10px 30px;

      @media (max-width: 1200px) {
        height: auto;
      }

      &.order_button {
        background-color: var(--color-orange);
      }

      &.in_cart_button {
        background-color: var(--color-grey);
        padding: 10px 30px 10px 24px;
      }
    }
  }
}

.specs_wrapper {
  display: grid;
  gap: 20px;
  padding: 0 20px;

  @media (min-width: 1000px) {
    grid-column: 1/3;
  }
  @media (max-width: 1000px) {
    padding: 0; 
  }

  b {
    font-size: min(1.3em, 18px);
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      font-size: min(1.2em, 16px);
    }
  }
}

.items_wrapper {
  margin-top: 60px;

  @media (min-width: 1000px) {
    grid-column: 1/3;
  }
}