
.header {
  display: none;
  @media (max-width: 900px) {
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0;
    background-color: var(--color-bg);
    z-index: 100;
  }
}

.top,
.nav {
  border-bottom: 1px solid var(--color-light-grey);
}

.top {
  & > div {
    height: max-content;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    justify-items: center;
    gap: 40px;
    padding: 20px 0;

    @media (max-width: 900px) {
      grid-template-columns: auto 1fr auto;
      padding: 10px 0;
    }
    @media (max-width: 600px) {
      gap: 20px;
    }
  }
}

.phones_wrapper {
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  align-items: center;
  column-gap: 10px;

  @media (min-width: 900px) and (max-width: 1200px) {
    &[data-hide='true'] {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (max-width: 900px) {
    display: none; 
  }

  span {
    font-size: 16px;
    font-weight: 600;

    @media (max-width: 1200px) {
      font-size: 14px; 
    }
  }

  svg {
    grid-row: 1/3;

    @media (max-width: 1200px) {
      width: 22px;
    }

    &:nth-of-type(1) {
      grid-column: 2/3;
    }
    &:nth-of-type(2) {
      grid-column: 3/4;
    }
  }
}

.btns {
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 900px) {
    gap: 10px;
  }
}

.cart_button {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding: 6px 10px;
  transition: all .3s ease;
  border: 1px solid transparent;

  font-size: 16px;
  font-weight: 500;

  &:hover {
    border: 1px solid var(--color-grey);
  }

  @media (max-width: 900px) {
    span {
      display: none;
    }
    svg {
      width: 30px;
    } 
  }
}

.nav {

  @media (max-width: 900px) {
    display: none!important;
  }

  ul {
    display: flex;
    justify-content: center;

    li {
      position: relative;
      border-bottom: 2px solid transparent;
      transition: border .3s ease;

      &[data-active='true'] {
        transition: border .3s .3s ease;
        pointer-events: none;
        border-bottom: 2px solid var(--color-main);
      }

      &:not(:last-child) {
        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 1px;
          height: 50%;
          background-color: var(--color-light-grey);
        }
      }

      a {
        display: block;
        padding: 20px 40px;

        @media (max-width: 1200px) {
          padding: 16px 20px; 
        }
      }
    }
  }
}