
.categories {
  grid-row: 1/3;
  height: max-content;
  display: grid;
  align-content: start;
  gap: 40px;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  padding: 30px 20px;

  &[data-active='true'] {
    height: auto;

    .category_top svg {
      transform: rotate(180deg);
    }
  }

  @media (max-width: 900px) {
    padding: 20px;
    overflow: hidden;
    height: 64px;
  }
}

.category {
  display: grid;
  align-content: start;
  gap: 20px;

  & > b, .category_top b {
    font-size: 1.25em;
    font-weight: 500;
  }

  .category_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      transition: all .3s ease;
    }
  }

  ul {
    display: grid;
    gap: 15px;

    & > ul {
      display: grid;
      gap: 15px;
      padding-left: 20px;
    }
  }

  li {
    font-size: 1.063em;
    font-weight: 500;

    &[data-active='true'] {
      button span {
        color: var(--color-green);
      }
    }
  }

  button {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: start;
    gap: 10px;

    color: var(--color-text);
    font-size: 1.063em;
    font-weight: 500;
    text-align: start;

    & > div {
      pointer-events: none;
    }

    span {
      color: #7A7A7A;
      font-size: 0.75em;
    }
  }
}

.price {
  display: grid;
  gap: 20px;
  
  & > div {
    width: max-content;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    gap: 10px;
  }

  input {
    max-width: 80px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
  }
}
