
.select_wrapper {
  display: grid;
  gap: 6px;

  & > p {
    color: var(--color-grey);
    font-size: 12px;
    margin-left: 8px;
  }
}

.select {
  position: relative;
  z-index: 10;

  &[data-active='true'] {
    z-index: 11;
  }

  .value {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-grey);
    padding: 10px 36px 10px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &[data-active='true'] {
      // outline: 1px solid var(--color-main);

      &::before {
        top: calc(50% + -3px);
        transform: rotate(-45deg) translate(-4px, 0);
      }
      &::after {
        top: calc(50% + -3px);
        transform: rotate(45deg) translate(4px, 0);
      }
    }

    &::before, &::after {
      content: '';
      position: absolute;
      top: calc(50% + 3px);
      right: 16px;
      width: 8px;
      height: 2px;
      background-color: var(--color-grey);
    }
    &::before {
      transform: rotate(45deg) translate(-4px, 0);
    }
    &::after {
      transform: rotate(-45deg) translate(4px, 0);
    }

    input:first-child {
      width: 100%;
      pointer-events: none;
      background-color: transparent;
      font-size: inherit;
    }

    input:last-child {
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
    }

    & > div {
      height: 20px;
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        height: 1px;
      }
      &::-webkit-scrollbar-track {
          background-color: #191919;
      }
      &::-webkit-scrollbar-thumb {
          background-color: #0D0D0D;
          border-radius: 4px;
      }
    }
  }
}

.select_body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .5s ease;
  background-color: var(--color-light-grey);
  outline: 1px solid var(--color-grey);
  // box-shadow: 0px 0px 50px rgba(0, 0, 0, .2);
  border-radius: 8px;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-grey);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-light-grey);
    border-radius: 4px;
  }

  &[data-active='true'] {
    height: max-content;
    opacity: 1;
    padding-top: 40px;
  }
}

.elems_wrapper {
  max-height: 350px;
  display: grid;
  gap: 6px;
  overflow-y: auto;
  padding: 8px;

  & > div {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;

    font-size: 14px;

    &[data-active='true'],
    &:hover {
      background-color: var(--color-white);
    }
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-dark-grey);
  padding: 0 12px;
  border-radius: 8px;

  cursor: pointer;

  svg {
     display: block;
     width: 20px;
  }

  input {
     width: 100%;
     height: 48px;
     background-color: transparent;
     font-size: 14px;

     &::placeholder {
        font-size: inherit;
        color: var(--color-grey-1);
     }
  }
}