
.slider {
  height: 100%;
  overflow: hidden;
}

.slider_body {
  display: grid;
  background-color: #000000;
}

.slide {
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &[data-active='true'] {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    & > div {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  & > div {
    display: flex;
    justify-content: center;
    transition: opacity 1s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (max-width: 480px) {
      display: grid; 
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 5em;

  @media (max-width: 480px) {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    padding-left: 0;
  }

  p {
    color: var(--color-white);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
  }

  a {
    background-color: var(--color-white);
    border-radius: 0.5em;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
  }
}

.image_wrapper {
  height: 450px;


  @media (max-width: 1000px) {
    height: 300px; 
  }
  @media (max-width: 480px) {
    grid-row: 1/2;
    grid-column: 1/2;
    filter: blur(3px);
  }

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

.pagination {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  button {
    cursor: pointer;
    padding: 10px 5px 20px 5px;
    font-size: 1em;

    &[data-active='true'] {
      span {
        transform: scale(1.5);
        background-color: var(--color-white);
      }
    }

    span {
      display: block;
      width: 0.375em;
      height: 0.375em;
      border-radius: 50%;
      background-color: var(--color-grey);
      transition: all .3s ease;
    }
  }
}