
.slider_body {
  height: 550px;
  display: grid;
  background-color: #000000;
}

.slide {
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &[data-active='true'] {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    & > div {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  & > div {
    display: flex;
    justify-content: center;
    transition: opacity 1s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 80px;

  p {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  a {
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
  }
}

.image_wrapper {
  height: 100%;

  img {
    width: auto;
    height: 550px;
    object-fit: contain;
  }
}

.pagination {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  button {
    cursor: pointer;
    padding: 10px 5px 20px 5px;

    &[data-active='true'] {
      span {
        width: 10px;
        height: 10px;
        background-color: var(--color-white);
      }
    }

    span {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-grey);
      transition: all .3s ease;
    }
  }
}