
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 8px;

  .arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    cursor: pointer;

    &[data-disabled='true'] {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: var(--color-text);
    }

    &.right {
        margin-left: 8px;

        &::before {
          transform: rotate(-45deg) translate(-1px, 2px);
        }
        &::after {
          transform: rotate(45deg) translate(-1px, -2px);
        }
    }
    &.left {
        margin-right: 8px;

        &::before {
          transform: rotate(45deg) translate(1px, 2px);
        }
        &::after {
          transform: rotate(-45deg) translate(1px, -2px);
        }
    }
  }

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;

    user-select: none;

    color: var(--color-text);
    border: 1px solid var(--color-grey);
    font-size: 16px;

    &._active {
      pointer-events: none;
      transform: scale(1.1);
      background-color: var(--color-light-grey);
    }
  }
}
