
.order_modal {
  form {
    min-width: 340px;
    display: grid;
    gap: 10px;
    padding: 10px 4px;

    button[type='submit'] {
      width: 100%;
    }
  }

  .info {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;

    p {
      display: flex;
      gap: 10px;
      font-size: 16px;

      span {
        font-weight: 600;
      }
    }
  }
}

.success_modal {
  form {
    min-width: 340px;
    display: grid;
    gap: 10px;
    padding: 30px 4px 50px 0;

    b {
      font-size: 18px;
      font-weight: 500;
    }
  }
}