
.logo {
  display: flex;
  align-items: center;

  img {
    width: 160px;
    height: auto;

    @media (max-width: 900px) {
      width: 100px;
      height: auto;
    }
    @media (max-width: 480px) {
      width: 80px;
      height: auto;
    }
  }
}