
.logo {
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: 900px) {
    width: 100px;
  }
  @media (max-width: 480px) {
    width: 80px;
  }

  svg {
    width: 100%;
  }
}