
.table {
  width: 100%;
  display: grid;
  gap: 8px;
  background-color: #F7F7F8;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  overflow-x: auto;

  ul { 
    display: grid;
    grid-auto-flow: column;

    &:first-child {
      li {
        display: flex;
        justify-content: space-between;
        background-color: #E9E9E9;
        font-size: 1em;

        &:first-child {
          border-radius: 8px 0 0 0;
        }
        &:last-child {
          border-radius: 0 8px 0 0;
        }

        p {
          color: #444444;
          font-size: 1em;
          font-weight: 600;
        }

        button {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          height: 100%;
          cursor: pointer;

          &:active {
            svg {
              transform: scale(0.9);
            }
          }

          svg {
            path {
              opacity: .3;
            }

            &.desc {
              path:first-child {
                  opacity: 1;
              }
            }
            &.asc {
              path:last-child {
                  opacity: 1;
              }
            }
          }
        }
      }
    }

    &:nth-of-type(2n+1):not(:first-child) {
      li {
        // background-color: #F2F2F2;
        
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }

    &.total {
      padding: 14px 0;
    }

    &.empty_data {
      height: max-content;
      display: flex;
      justify-content: center;

      border-radius: 8px;
      padding: 18px 16px;
      background-color: var(--color-light-grey);

      color: var(--color-grey);
      font-size: 12px;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 1em 1.667em;
    font-size: 1em;

    @media (max-width: 768px) {
      padding: 1em 8px;
    }

    &:first-child {
      padding: 16px;
    }
    &:last-child {
      padding: 16px;
    }

    &.btns {
      display: flex;
      gap: 8px;

      & > button {
        padding: 10px 12px;
        font-size: 12px;
      }
    }
  }

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 8px;

  .arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    cursor: pointer;

    &[data-disabled='true'] {
      pointer-events: none;
      opacity: 0.5;
    }
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: var(--color-text);
    }

    &.right {
        margin-left: 8px;

        &::before {
          transform: rotate(-45deg) translate(-1px, 2px);
        }
        &::after {
          transform: rotate(45deg) translate(-1px, -2px);
        }
    }
    &.left {
        margin-right: 8px;

        &::before {
          transform: rotate(45deg) translate(1px, 2px);
        }
        &::after {
          transform: rotate(-45deg) translate(1px, -2px);
        }
    }
  }

  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;

    user-select: none;

    color: var(--color-text);
    border: 1px solid var(--color-grey);
    font-size: 16px;

    &._active {
      pointer-events: none;
      // color: var(--color-white);
      transform: scale(1.1);
      // border: 1px solid var(--color-orange);
      background-color: var(--color-light-grey);
    }
  }
}