
.item_card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--color-light-grey);
  border-radius: 16px;
  padding: 30px 10px 10px 10px;
  transition: all .3s ease;

  label {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px 0 20px 0;
    padding: 6px 10px;
    color: var(--color-white);
    font-size: 0.75em;
    font-weight: 500;
    z-index: 10;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }
}

.image_wrapper {
  height: 12.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: transform .3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.item_name {
  text-align: center;
  font-size: min(1.2em, 17px);
  font-weight: 500;
  transition: opacity .3s ease;

  &:hover {
    opacity: .5;
  }
}

.info {
  width: 100%;
  display: grid;
  gap: 4px;
  padding-left: 0.625em;

  p {
    font-size: 1em;

    span {
      color: var(--color-green);

      &[data-available='unavailable'] {
        color: var(--color-orange);
      }
    }
  }
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: start;
    gap: 15px;

    button {
      width: 100%;
    }
  }
}

.price {
  font-size: 1em;
  font-weight: 500;
}

.in_cart_button {
  background-color: var(--color-orange);
}
