
.page_body {
  max-width: 1200px;
  width: 100%;
  padding: 40px 0 60px 0;
  display: grid;
  gap: 20px;
  margin: 0 auto;

  @media (max-width: 900px) {
    padding: 10px 0 40px 0;
    gap: 10px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  p, li {
    font-size: 16px;
    line-height: 150%;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  li {
    list-style-type: disc;
    margin-left: 2em;
  }

  thead {
    display: block;
    border-top: 1px solid var(--color-grey);
    padding-top: 10px;
  }
  tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid var(--color-grey);
  }
  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}