
.menu {
  height: 100%;
  z-index: 100;

  @media (min-width: 900px) {
    display: none;
  }

  & > button {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 6px 10px;
    transition: all .3s ease;
    border: 1px solid transparent;
    z-index: 2;

    font-size: 16px;
    font-weight: 500;

    &:hover {
      border: 1px solid var(--color-grey);
    }

    @media (max-width: 900px) {
      span {
        display: none;
      }
      svg {
        width: 30px;
      } 
    }
  }
}

.menu_container {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  z-index: 1;
  transition: transform .3s ease;
  transform: translate(110%, -100%);

  &[data-active='true'] {
    transform: translate(0, -100%);
  }

  ul {
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    li {
      width: 100%;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid var(--color-light-grey);
      padding: 10px 0;

      &:first-child {
        border-top: 1px solid var(--color-light-grey);
      }

      &[data-active='true'] {
        pointer-events: none;

        a {
          border-right: 2px solid var(--color-main);
          border-left: 2px solid var(--color-main);
        }
      }

      a {
        width: 100%;
        max-width: 300px;
        display: block;
        padding: 10px;
        transition: all .3s ease;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        text-align: center;
      }
    }
  }
}