
.page_body {
  padding: 40px 0 60px 0;
  display: grid;
  grid-template-columns: 100%;
  align-content: start;
  gap: 40px;

  @media (max-width: 900px) {
    padding: 10px 0 40px 0;
    gap: 10px;
  }
}

.news_conatiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr)
  }
}
