
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
}
span {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}
li {
  list-style-type: none;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
}
