
.checkbox {
  width: 22px;
	height: 22px;
	display: grid;

	span, input {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	input {
		width: 22px;
		height: 22px;
		opacity: 0;
		cursor: pointer;

    &:focus-visible + span {
      outline: 1px solid var(--color-text);
    }
	}

	input:checked + span svg {
		opacity: 1;
		visibility: visible;
	}

  input:checked + span svg path {
    fill: var(--color-green);
  }

	input:checked + span {
		border: 1px solid var(--color-green);
	}

	span {
    display: flex;
    align-items: center;
    justify-content: center;
		width: 18px;
		height: 18px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    transition: all .3s ease 0s;
	}
  
	svg {
    width: 16px;
    height: 16px;
		opacity: 0;
		visibility: hidden;
    pointer-events: none;
		transition: all .3s ease 0s;
    // transform: translate(0px, -1px);
	}
}